.login {
  display: grid;
  place-items: center;
  height: 100vh;
  div {
    display: flex;
    flex-direction: column;
    img {
      object-fit: contain;
      height: 150px;
    }
  }
  button {
    width: 300px;
    font-weight: 800;
    background-color: #2e81f4;
    color: #eff2f5;
    transition: all 0.35s ease-in-out;

    &:hover {
      background-color: white;
      color: #2e81f4;
    }
  }
}
